.developer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    overflow: auto;
    padding: 2rem;

    .form-wrapper {
        width: 20rem;
    }

}
