#todo-container {
    box-shadow: 2px 2px 2px rgba(22,22,22, 0.2);
    margin: 0 auto 0 auto;
    width: 350px;
}

.todo-title{
    font-size: 2rem;
    width: 100%;
    padding: .5rem;
}

.todo-items {
    padding: 1rem 0;
}

#todo-container .todo-items > div {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.2)
}
