#todo-container {
    box-shadow: 0 5px  15px 10px  rgba(22,22,22, 0.2);
    margin: 0 auto 0 auto;
    width: 350px;
}

.todo-title{
    font-size: 2rem;
    width: 100%;
    padding: .5rem;
}

.todo-items {
    padding: 1rem 0;
}

.tool-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2)
}

.tool-box > div {
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-right: 1px solid rgba(0,0,0,.2)
}

.tool-box > div:last-child{
    border: none;
}
.filter {
    flex: 3;
}

.sort {
    flex: 2;
}

#sorting {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 70px;
    transition-duration: 0.4s;
}

#sorting:hover {
    background-color: rgb(16, 88, 18); /* Green */
    color: white;
}

.count {
    flex: 1;
}

.count p {
    margin: 0;
}

#todo-container .todo-items > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid rgba(0,0,0,.2)
}

#remove {
   padding: 0.5rem 0.5rem;
   margin: 0 0.5rem 0.5rem auto;
   width: 20%;
}

#done {
    width: 20%;
   padding: 0.5rem 0.5rem;
   margin: 0 0.5rem 0.5rem 0;
}

span.status {
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    overflow: hidden;
    margin: 0 auto;
}

span.status0 {
    background-color: blue;
    margin: 0 0.5rem;
}

span.status1 {
    background-color: orange;
    margin: 0 0.5rem;
}

button.status0 {
    display: none;
}

footer {
    background-color: rgba(22,22,22, 0.2);
}
